<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dự Đoán</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Nhập dữ liệu để dự đoán</h1>
    <form action="/predict" method="post">
        <label for="age">Age:</label>
        <select name="age" required>
            <option value="0">20-29</option>
            <option value="1">30-39</option>
            <option value="2">40-49</option>
            <option value="3">50-59</option>
            <option value="4">60-69</option>
            <option value="5">70-79</option>
        </select><br>
    
        <label for="menopause">Menopause:</label>
        <select name="menopause" required>
            <option value="2">Premeno</option>
            <option value="0">ge40</option>
            <option value="1">lt40</option>
        </select><br>
        
        <label for="tumor_size">Tumor size:</label>
        <select name="tumor_size" required>
            <option value="0">0-4</option>
            <option value="1">5-9</option>
            <option value="2">10-14</option>
            <option value="3">15-19</option>
            <option value="4">20-24</option>
            <option value="5">25-29</option>
            <option value="6">30-34</option>
            <option value="7">35-39</option>
            <option value="8">40-44</option>
            <option value="9">45-49</option>
            <option value="10">50-54</option>
        </select><br>

        <label for="inv_nodes">Inv nodes:</label>
        <select name="inv_nodes" required>
            <option value="0">0-2</option>
            <option value="1">3-5</option>
            <option value="2">6-8</option>
            <option value="3">9-11</option>
            <option value="4">12-14</option>
            <option value="5">15-17</option>
            <option value="6">27-29</option>
        </select><br>

        <label for="node_caps">Node caps:</label>
        <select name="node_caps" required>
            <option value="2">yes</option>
            <option value="1">no</option>
        </select><br>
    

        <label for="deg_malig">Deg malig:</label>
        <select name="deg_malig" required>
            <option value="0">1</option>
            <option value="1">2</option>
            <option value="2">3</option>
        </select><br>
    

        <label for="breast">Breast:</label>
        <select name="breast" required>
            <option value="0">left</option>
            <option value="1">right</option>
        </select><br>
    

        <label for="breast_quad">Breast quad:</label>
        <select name="breast_quad" required>
            <option value="3">left-up</option>
            <option value="2">left-low</option>
            <option value="5">right-up</option>
            <option value="4">right-low</option>
            <option value="1">central</option>
        </select><br>
        
        <label for="irradiat">Irradiat:</label>
        <select name="irradiat" required>
            <option value="0">no</option>
            <option value="1">yes</option>
        </select><br>
    
        <input type="submit" value="Dự đoán">
    </form>
</body>
</html>
